/* 전체 컨테이너 */
.container {
    max-width: 100%; /* 최대 너비 */
    margin: 0 auto; /* 중앙 정렬 */
    background-color: #fff58b; /* 하늘색 계열 배경 */
    padding: 20px;
    box-sizing: border-box; /* padding을 포함한 전체 너비 */
  }
  
  /* 헤더 */
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* 로고 이미지 */
  .logo {
    width: 100px; /* 로고 이미지 크기 조정 */
    max-width: 100%; /* 로고 이미지 최대 너비 지정 */
  }
  
  /* 제목 입력칸 */
  .title-input {
    width: calc(100% - 30px); /* 로고 이미지 크기와 여백 고려 */
    max-width: 200px; /* 최대 너비 지정 */
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
  }
  
  /* 메인 */
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* 박스 */
  .box {
    width: 100%; /* 박스 전체 너비 */
    max-width: 350px; /* 최대 너비 지정 */
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  /* 박스 내용 */
  .box-content {
    padding: 20px;
  }
  
  /* 박스 1, 2, 3 */
  .box1, .box2, .box3 {
    display: flex;
    flex-direction: column; /* 모바일에서 세로로 정렬 */
    align-items: center; /* 모바일에서 가운데 정렬 */
  }
  
  /* 푸터 */
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  /* 이미지 아이콘 버튼 */
  .footer .icon-button {
    width: 30px;
    height: 30px;
  }